$link-color: rgba(244, 123, 32, 0.50);
$primary-color: rgba(0, 0, 0, 0.5);
$logo-color: rgba(0, 0, 0, 0.75);


@font-face {
  font-family: 'latha';
  url:('./fonts/latha.ttf') format('truetype'),;
}


