$link-color: rgba(244, 123, 32, 0.50);
$primary-color: rgba(0, 0, 0, 0.5);
$logo-color: rgba(0, 0, 0, 0.75);
$header-size: 1.5em;



body{
  font-family:latha;
  color:$primary-color;
}


.header{
  margin-top:0px;
  padding-top:0px;
  position:fixed;
  width:100%;
  background-color:white;
  display:flex;
  justify-content:space-around;
    #logo{
      h1{
      font-size:$header-size;  
      float:left;
      text-align: center;
      color: $logo-color;
      }
      img{
      } 
    }
  .links{
    float:right;
    margin-top:3em;
    margin-left:3em;
    a{
    padding-left:1em;
    text-decoration:none;
    color:$primary-color;
    font-size:$header-size;
    }
    a:hover{
    color:$link-color;
    }
  }
  border-bottom: 1px solid $primary-color;
}

.app{
width:100%;
padding-top:8em;
  h2{
  text-align:center;
  color:$primary-color;
  font-size:$header-size;
  }
  .container{
  width:100%;
  display:inline-flex;
    .main{
    padding-top:2em;
      .card{
        width:33%;
        float:left;
          .projectImg{
          height:70%;
          width:70%;
          .descriptionBox{
          color:pink;
          height:10px;
          width:20px;
          }
        }
      }
    }
  }
}
